* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}


.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  right: 350px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 3em;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #fff;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 25px;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  padding: 0 35px 0 10px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;
}

.remember-forgot label input {
  accent-color: #3b4c59;
}

.remember-forgot {
  font-size: 0.9em;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot a {
  text-decoration: none;
  color: #fff;
}

.remember-forgot a:hover {
  text-decoration: underline;
  color: #878d92;
}

.btn {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: none;
  outline: 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #162938;
  font-weight: 700;
  transition: 0.5s;
}
.btn:hover {
  background-color: #162938;
  color: #fff;
}

.login-register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin: 0 0 0 6px;
}

.login-register p a:hover {
  text-decoration: underline;
  color: #878d92;
}
